@use '../mixins'
@use '../variables'
@use './mainpage'
@use './sidebar'

#arthur-guilherme
    font-size: variables.$sizeTitleH1
    text-align: center
    line-height: clamp(4.8rem, 3.8vw, 5rem)
    margin: 5rem 0
    color: variables.$colorText